#container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}

a {
    margin: 0.5rem;
    margin-top: 0rem;
}

body {
    background-color: #1F2833;
}

h1 {
    color: antiquewhite;
}

input {
    background-color: antiquewhite;
    border-radius: 0.35rem;
}

button {
    background-color: antiquewhite;
    border-radius: 0.5rem;
    padding: 0.15rem 0.5rem;
    font-weight: 700;
}

button:hover {
    background-color: rgb(196, 184, 170);
}